.index-page-layout {
	display: grid;
	grid-template-columns: auto 250px;
}

.newest-post {
	grid-column-start: 1;
	grid-column-end: span 1;
	margin: 0px 20px;
}

.post-list-sidebar {
	grid-column-start: 2;
	grid-column-end: span 1;
}

.post-list-sidebar ul {
	padding-left: 0;
}

.post-list-sidebar ul li {
	list-style: none;
	border-bottom: 1px solid #A39B8B;
	margin-bottom: 2px;
}

.post-list-sidebar ul li a {
	display: inline-block;
	color: #716A5C;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 5px 0px;
}
